{% extends 'base.html.twig' %}
{% block title %}Create New Blog
{% endblock %}

{% block body %}
	<main class="max-w-3xl mx-auto px-6 py-16">
		<h1 class="text-3xl font-bold mb-8">Create New Blog Post</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="mt-4 px-5 py-2.5 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700">
			Publish Blog
		</button>
		{{ form_end(form) }}
	</main>

     
{% endblock %}
